.container-item {
  margin-top: 3rem;
}

.item-img {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.item-title {
  font-weight: bold;
  font-size: 2rem;
}

.item-desc {
  margin-top: 1rem;
  color: #888888;
}

.item-rating {
  margin-top: 1rem;
  margin-right: 0.3rem;
}

.item-price {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.item-button {
  border-width: 1px;
  border-color: #53b46e;
  background-color: Transparent;
  font-size: 1.25rem;
  transition: .25s ease;
  text-decoration: none;
}
.item-button:active, .item-button:focus {
  outline: none !important;
  box-shadow: none;
}

.item-button:active {
  border-style: solid;
}

.item-button:hover{
  background: #53b46e;
  color: white;
}

.container-review {
  margin-top: 5rem;
  margin-left: 15rem;
  margin-bottom: 1rem;
}

.item-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.item-recommendation-list {
  display: inline;
  list-style-type: none;
}

.item-recommendation-item {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.item-recommendation-img {
  width: 96px;
  height: 96px;
}

.item-recommendation-title {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
}

.item-recommendation-price {
  text-align: center;
}

.item-recommendation-rating {
  text-align: center;
}

.container-recommendation {
  margin-top: 5rem;
  margin-left: 15rem;
  margin-bottom: 1rem;
}

.item-review-list {
  list-style-type: none;
}

.item-review-item {
  margin-bottom: 2.5rem;
}

.createItem {
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 500px;
    width: 600px;
}