.container-item {
  margin-top: 3rem;
}

.createItem {
  padding: 20px 10px 10px 10px;
}

.item-img {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.item-detail-img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

.item-title {
  font-weight: bold;
  font-size: 2rem;
}

.item-desc {
  margin-top: 1rem;
  color: #888888;
}

.item-rating {
  margin-top: 1rem;
  margin-right: 0.3rem;
}

.item-price {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.item-bids-hide {
  display: none;
}

.item-bids-show {
  display: block;
}

.bid-max-amount {
  font-weight: bold;
}

.bid-max-email-mine {
  font-weight: bold;
  color: #28a745;
}

.bid-max-email-yours {
  font-weight: bold;
  color: #ef2828;
}

.make-bid-btn {
  font-size: 12pt;
  width: 115px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
  border-width: 1px;
  border-color: #3091ff;
  border-radius: 5px;
  background-color: #3091ff;
  transition: .25s ease;
  text-decoration: none;
}

.make-bid-btn:active, .make-bid-btn:focus {
  outline: none;
  box-shadow: none;
}

.make-bid-btn:active {
  border-style: solid;
}

.make-bid-btn:hover {
  font-size: 13pt;
  background: transparent;
  color: black;
}

.make-bid-dlr {
  font-size: 13pt;
  font-weight: bold;
}

.make-bid-txt {
  width: 70px;
  line-height: 18pt;
  border: 1px solid #3091ff;
  border-radius: 5px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: 11pt;
  padding-left: 4px;
}

.test-bids-btn {
  display: none;
}

.required-asterisk {
  color: red;
  font-weight: bold;
  font-size: 14pt;
}

.item-button {
  border-width: 1px;
  border-color: #53b46e;
  background-color: Transparent;
  font-size: 1.25rem;
  transition: .25s ease;
  text-decoration: none;
}

.item-button:active, .item-button:focus {
  outline: none !important;
  box-shadow: none;
}

.item-button:active {
  border-style: solid;
}

.item-button:hover{
  background: #53b46e;
  color: white;
}

#category-select {
  padding: 10px !important;
  line-height: 1.5 !important;
}

.container-review {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.item-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.item-recommendation-list {
  display: inline;
  list-style-type: none;
}

.item-recommendation-item {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.item-recommendation-img {
  width: 96px;
  height: 96px;
}

.item-recommendation-title {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
}

.item-recommendation-price {
  text-align: center;
}

.item-recommendation-rating {
  text-align: center;
}

.container-recommendation {
  margin-top: 5rem;
  margin-left: 15rem;
  margin-bottom: 1rem;
}

.item-review-list {
  list-style-type: none;
}

.item-review-item {
  margin-bottom: 2.5rem;
}

.createItem {
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 500px;
  width: 600px;
}

.showItems {
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 500px;
  width: 600px;
}

.space {
  padding-bottom: 10px;
}

.ribbon_font {
  font-family: 'Pacifico', cursive;
}

#shown-items-div1 a:hover {
  text-decoration: none;
}

.shown-item-card {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #f5f5ff;
  transition: .1s ease-in-out;
}

.shown-item-card:hover {
  background-color: #fafaff;
}

.shown-item-name {
  font-weight: bold;
}

.shown-item-description {
  font-weight: bold;
}

.shown-item-category {
  font-weight: bold;
}

.shown-item-price {
  font-weight: bold;
}

.shown-item-bid-price {
  font-weight: bold;
}

.shown-item-text {
  color: #222;
}

.shown-item-text:hover {
  color: #222;
}


.eachItemMap {
  /* margin-right: 120px; */

}

.itemReview {
 margin-bottom: 30px;
}

#thumb_up_blue {
  color: blue;
}

.write_review {
  color: blue;
}

#writeReviewBtn {
  height: 50px;
  width: 175px;
  font-size: 14pt;
  margin-top: 10px;
}

.upper_review_comments {
  margin-bottom: 20px;
  text-align: center;
}

.review_comments {
  /* width: 125%;
  margin-left: 400px;*/
  padding-right: 100px;
  padding-left: 100px;
}










 