.App {
  text-align: center;
}

.carousel {
  padding: 3 rem;
  text-align: center;
  margin: 0 auto;
  
}

.Carousel {
  text-align: center;
  margin: 0 auto;
}

.iceland {
  width: 100%;
  height: auto;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
