.service-title {
  font-weight: bold;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.service-card-category .service-card-img{
  transition: .25s ease;
}

.service-card-category:hover .service-card-img {
  -webkit-transform:scale(1.1); 
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

.service-card-category .service-card-img {
  height: 125px;
  width: 125px;
  margin: auto;
  display: block;
}

.service-category-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(165, 165, 165);
}

.service-category-img {
  height: 32px;
  width: 32px;
  padding-bottom: 6px;
  padding-right: 6px;
}

.service-list-img {
  height: 160px;
  margin: auto;
  padding-left: 3rem;
  display: block;
}

.service-list-item {
  animation: 0.8s fadein;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#service-item {
  background-color: #f7f7ff;
  border-radius: 5rem;
  border: 0;
  transition: .2s ease-in-out;
}

#service-item:hover {
  background-color: #fcfcff;
}

.service-contact-icon {
  max-width: 20px;
  max-height: 20px;
  margin-right: 0.25rem;
}

.service-map {
  float: right;
  width: 30px;
  height: 30px;
}

.service-map:hover {
  cursor: pointer;
}

.service-button {
  border-width: 1px;
  border-color: #53b46e;
  background-color: #53b46e;
  float: right;
  transition: .25s ease;
  text-decoration: none;
  color: white
}

.service-button:active, .service-button:focus {
  outline: none !important;
  box-shadow: none;
}

.service-button:active {
  border-style: solid;
}

.service-button:hover{
  background: transparent;
  color: black;
  border-width: 1px;
  border-color: #53b46e;
}

.service-list-category .carousel-indicators li {
  background-color: grey;
  opacity: 0.5;
}

.service-list-category .carousel-indicators .active {
  background-color: #53b46e;
  opacity: 1;
}

.service-image {
  min-width: 100%;
  max-width: 100%;
  max-height: 270px;
  min-height: 270px;
}

.service-pn-item {
  padding: 8px 16px;
  font-size: 12pt;
}

.service-pn-item a {
  color: black;
  transition: .2s ease;
}

.service-pn-item:hover:not(.service-pn-disabled) {
  color: #53b46e;
  cursor: default;
  text-decoration: none;
}

.service-pn-active {
  background-color: #ddffe0;
  border-radius: 3rem;
}

.service-pn-item a:hover {
  color: #53b46e;
  cursor: pointer;
  text-decoration: none;
}

.service-pn-disabled, .service-pn-disabled a {
  cursor: default;
  color: rgb(210, 210, 210);
}

.service-pn-disabled a:hover {
  cursor: default;
  text-decoration: none;
  color: rgb(210, 210, 210);
}

.service-rating-button {
  width: 48px;
  height: 48px;
  border-radius: 3rem;
  text-decoration: none;
  border-width: 0;
  background-color: transparent;
  text-decoration: none;
  transition: .25s ease;
}

.service-rating-button:active, .service-rating-button:focus {
  outline: none !important;
  box-shadow: none;
  transition: .1s ease;
}

.service-rating-button:hover{
  -webkit-transform:scale(1.1); 
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

.service-rating-button:active {
  -webkit-transform:scale(1); 
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
}

.service-rating-img {
  width: 32px;
  height: 32px;
  opacity: 0.7;
}

.service-rating-vote {
  color: grey;
}

.service-write-button {
  margin-top: 3rem;
  margin-bottom: 2rem;
  float: right;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.service-write-textarea:active, .service-write-textarea:focus {
  outline: none !important;
  box-shadow: none;
  border-color: #ced4da !important;
}

.service-star {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.service-close:hover {
  cursor: pointer;
}

.service-list:hover {
  cursor: pointer;
  background-color: #f4fff5;
}

.service-offered {
  background-color: #f7f7ff;
  border-radius: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

#service-map-address {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #b6bbc0;
  color: #6c757d;
  font-size: 95%;
  width: 100%;
}

#service-offered {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #b6bbc0;
  font-size: 95%;
  margin-right: 0.25rem;
}

#service-address {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #b6bbc0;
  color: #6c757d;
  font-size: 95%;
}