@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
  font-family: 'Nunito';
}

.container .navbar {
  padding: 0.25rem 1rem;
}

.navbar-custom {
  /* background-color: #d0f0be; */
}

.navbar-header {
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-item .nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
  transition: .25s ease;
}

.nav-item .nav-link:hover { 
  color: #53b46e;
  text-decoration: none;
}

.wrapper {
  min-height: 100vw;
  margin-bottom: -48px; 
}

.wrapper:after {
  content: "";
  display: block;
}

.footer-copyright, .wrapper:after {
  height: 48px;
}