.cart-item-list {
  margin-left: 5rem;
  list-style-type: none;
}

.cart-item {
  margin-bottom: 1rem;
  border: 1px solid darkgray;
}

.cart-item-img {
  width: 150px;
  height: 150px;
}

.divider {
  border-right: 1px solid black;
}

.left-col {
  margin-right: 4rem;
}

.right-col {
  margin-left: 3rem;
}

.cart-header {
  margin: 3rem;
  text-align: center;
}