.cart-item-list {
  list-style-type: none;
  margin-left: 2rem;
}

.cart-item-div {
  text-align: left;
}

.cart-item {
  margin-bottom: 1rem;
  border: 1px solid darkgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart-item-img {
  width: 150px;
  height: 150px;
}

.cart-item-title {
  font-size: 16pt;
}

.cart-item-price {
  font-size: 16pt;
}

.quantity-spn {
  font-size: 11pt;
}

.divider {
  border-right: 1px solid black;
}

.left-col {
  margin-right: 4rem;
}

.right-col {
  margin-left: 3rem;
}

.cart-header {
  margin: 3rem;
  text-align: center;
}

.outer-div {
  text-align: center;
}

#cart-empty-message {
  font-size: 16pt;
}

#cart-summary-div {
  text-align: center;
  background-color: #edf7f0;
  border-radius: 5px;
  padding: 30px;
}

.cart-price-title {
  font-size: 18pt;
}

.cart-price-amt {
  font-size: 18pt;
}

#cart-total-amt {
  font-weight: bold;
  font-size: 24pt;
}

#cart-total-title {
  font-weight: bold;
  font-size: 24pt;
}

#obi-div {
  text-align: center;
}

/* Style the toast notification. Note that we need
   to include !important here to override the default
   classname that the component attaches. */
.addtocart-toast-toast {
  color: white !important;
  padding: 10px 10px 10px 15px !important;
  border-radius: 5px !important;
  font-size: 12pt !important;
}

.modal-header {
  background-color: #53b46e;
  color: white;
}

.modal-footer .btn-secondary {
  background-color: #a9a9a9;
  border: 1px solid #a9a9a9;
  transition: 0.25s ease;
}

.modal-footer .btn-primary {
  background-color: red;
  border: 1px solid red;
  transition: 0.25s ease;
}

.modal-footer .btn-primary:hover {
  background: transparent;
  background-color: #900000;
  border-color: #900000;
}

.modal-footer .btn-primary:active {
  background-color: #600000;
  border-color: #600000;
  outline: none;
  box-shadow: none;
}

.addtocart-button {
  font-size: 1.5rem;
  width: 175px;
  height: 60px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.shop-button {
  font-size: 1.5rem;
  width: 175px;
  height: 60px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cart-checkout-button {
  font-size: 1.5rem;
  width: 250px;
  height: 50px;
}

.addtocart-button, .shop-button, .cart-checkout-button {
  color: white;
  border-width: 1px;
  border-color: #53b46e;
  border-radius: 5px;
  background-color: #53b46e;
  transition: .25s ease;
  text-decoration: none;
}

.delete-button {
  font-size: 1.2rem;
  width: 100px;
  height: 40px;
  color: white;
  border-width: 1px;
  border-color: #ef2828;
  border-radius: 5px;
  background-color: #ef2828;
  transition: .25s ease;
  text-decoration: none;
}

.addtocart-button:active, .addtocart-button:focus,
.shop-button:active, .shop-button:focus,
.delete-button:active, .delete-button:focus,
.cart-checkout-button:active, .cart-checkout-button:focus {
  outline: none;
  box-shadow: none;
}

.addtocart-button:active, .shop-button:active,
.delete-button:active, .cart-checkout-button:active {
  border-style: solid;
}

.addtocart-button:hover, .shop-button:hover, .cart-checkout-button:hover {
  background: transparent;
  color: black;
  font-size: 1.6rem;
}

.delete-button:hover {
  background: transparent;
  color: black;
  font-size: 1.4rem;
}

.no-checkout-button {
  font-size: 1.5rem;
  width: 200px;
  height: 80px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  border-width: 1px;
  border-color: #a6dbb5;
  border-radius: 5px;
  background-color: #a6dbb5;
  text-decoration: none;
  cursor: not-allowed;
}

.no-checkout-button:active {
  border: 1px solid #a6dbb5;
}

.no-checkout-button:focus {
  border: 1px solid #a6dbb5;
}

.no-checkout-button:hover {
  cursor: not-allowed;
}

#top-rated-items-1 {
  text-align: center;
}

#top-rated-items-h3 {
  margin: 30px;
}

.top-rated-items-2 {
  list-style-type: none;
  padding-left: 40px;
}

.top-rated-items-3 {
  float: left;
  width: 220px;
  height: 220px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: left;
}

#user-recs-1 {
  text-align: center;
}

#user-recs-h3 {
  margin: 30px;
}

.user-recs-2 {
  list-style-type: none;
  display: inline-block;
}

.user-recs-3 {
  width: 320px;
  height: 120px;
  border: 1px solid black;
  margin-bottom: 20px;
  text-align: left;
}






















