.form-search {
  float: right;
  margin: 0px;
}

.search-select:hover {
  cursor: pointer;
}

.styled-select {
 /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 93% 0; */
 /* overflow: hidden; */
 float: left;
 /* border-top-left-radius: 5px;
 border-bottom-left-radius: 5px; */
 /* background-color: #28a745; */
 margin-right: 0.7rem;
}

.styled-select select {
  background: transparent;
  font-size: 14px;
  height: 31px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
  /* width: 268px; */
  /* color: #fff; */
}

.input-search {
  border-left: 1px solid #53b46e;
  border-top: 1px solid #53b46e;
  border-bottom: 1px solid #53b46e;
  border-right: none;
  padding: 4px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  padding-left: 0.7rem;
}

.button-search {
  color: black;
  border-width: 1px;
  border-color: #53b46e;
  background-color: #53b46e;
  font-size: 1.25rem;
  transition: .25s ease;
  display: inline;
  text-decoration: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 0.7rem;
}

.button-search:active, .button-search:focus {
  outline: none !important;
  box-shadow: none;
}

.button-search:active {
  border-style: solid;
}

.button-search:hover{
  background: #53b46e;
  color: white;
}