#payment-header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-payment {
    text-align: center;
}

.payment-button-1 {
    margin-top: 24px;
    padding: 2px 12px;
    float: right;
    color: white;
    border-width: 1px;
    border-color: #53b46e;
    border-radius: 5px;
    background-color: #53b46e;
    font-size: 1.5rem;
    transition: .25s ease;
    text-decoration: none;
}

.payment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #fff url(../../images/payment/logo.svg) center center no-repeat;
    border-bottom: 1px solid #f3f3ff;
}

.payment-header .payment-link:hover {
    text-decoration: underline;
}

/* Checkout */

.payment-checkout {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear 0.5s;
}

#main.checkout #checkout {
    visibility: visible;
    opacity: 1;
}

.payment-section {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
}

.payment-h1 {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 500;
}

.payment-order-details {
    visibility: hidden;
}

.payment-home-button {
    width: 140px;
    height: 48px;
    margin-top: 24px;
    float: right;
    color: white;
    border-width: 1px;
    border-color: #53b46e;
    border-radius: 5px;
    background-color: #53b46e;
    font-size: 1.0rem;
    transition: .25s ease;
    text-decoration: none;
}