.property-filter-button {
  border-width: 1px;
  border-color: #53b46e;
  background-color: #53b46e;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  margin-right: 1.5rem;
  float: right;
  padding: 0.5rem;
  font-size: 1rem;
  transition: .25s ease;
  text-decoration: none;
  color: white;
  width: 140px
}

.property-filter-button:active, .property-filter-button:focus {
  outline: none !important;
  box-shadow: none;
}

.property-filter-button:active {
  border-style: solid;
}

.property-filter-button:hover{
  background: transparent;
  color: black;
  border-width: 1px;
  border-color: #53b46e;
}

.property-filter {
  font-size: 1rem;
  padding: 1rem;
  /* margin-top: 1rem;
  margin-left: 1rem; */
  background-color: rgb(242, 255, 234);
}

.property-button {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.property-close-button {
  border-width: 1px;
  border-color: #53b46e;
  background-color: #53b46e;
  float: right;
  transition: .25s ease;
  text-decoration: none;
  color: white
}

.property-close-button:active, .property-close-button:focus {
  outline: none !important;
  box-shadow: none;
}

.property-close-button:active {
  border-style: solid;
}

.property-close-button:hover{
  background: transparent;
  color: black;
  border-width: 1px;
  border-color: #53b46e;
}

.property-upload-button {
  border-width: 1px;
  border-color: #53b46e;
  background-color: #53b46e;
  float: right;
  transition: .25s ease;
  text-decoration: none;
  color: white
}

.property-upload-button:active, .property-upload-button:focus {
  outline: none !important;
  box-shadow: none;
}

.property-upload-button:active {
  border-style: solid;
}

.property-upload-button:hover{
  background: transparent;
  color: black;
  border-width: 1px;
  border-color: #53b46e;
}

.property-delete-button {
  border-width: 1px;
  border-color: #e65757;
  background-color: #e65757;
  float: right;
  transition: .25s ease;
  text-decoration: none;
  color: white
}

.property-delete-button:active, .property-delete-button:focus {
  outline: none !important;
  box-shadow: none;
}

.property-delete-button:active {
  border-style: solid;
}

.property-delete-button:hover{
  background: transparent;
  color: black;
  border-width: 1px;
  border-color: #e65757;
}

.property-go-button {
  border-width: 1px;
  border-color: #53b46e;
  background-color: white;
  transition: .25s ease;
  text-decoration: none;
  color: black;
  margin: auto;
  height: 35px;
  width: 100%;
}

.property-go-button:active, .property-go-button:focus {
  outline: none !important;
  box-shadow: none;
}

.property-go-button:active {
  border-style: solid;
}

.property-go-button:hover{
  background: #53b46e;
  color: white;
  border-width: 1px;
  border-color: #53b46e;
}

.property-contact-icon {
  max-width: 20px;
  max-height: 20px;
  margin-right: 0.5rem;
}

.property-image {
  min-width: 100%;
  max-width: 100%;
  max-height: 300px;
  min-height: 300px;
}

#property-button-style {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #53b46e;
}

#property-button-style:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#property-input {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1.5rem;
  width: 18rem;
}

#property-input:focus {
  border-color: #53b46e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#property-address {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #b6bbc0;
  color: #6c757d;
  font-size: 95%;
}